@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html{
	width: 100%;
	font-family: 'Quicksand', sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
}
body{
	width: 60%;
	margin: auto;
	margin-top: 1%;
	padding-left: 2%;
	padding-right: 2%;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Anton', sans-serif;
	color: red;
}
h1{
	text-align: center;
}
header{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}
header img{
	width: 85%;
}
header span{
	font-weight: bold;
}
aside{
	position: fixed;
	right: 3%;
	padding: 1%;
	background-color: white;
	border: solid 1px black;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	font-weight: bold;
}
.gras{
	font-weight: bold;
}
section{
	width: 100%;
}
article{
	width: 100%;
	text-align: justify;
	border: solid 1px black;
	margin-top: 1%;
	padding: 1%;
}
.inline{
	display: inline-block;
	margin-right: 2%;
}
footer{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	border: solid 1px black;
	margin-top: 2%;
	padding: 1%;
	color: red;
}
.form{
	width: 50%;
	margin: auto;
	border: solid 1px black;
	padding: 1%;
	text-align: center;
	margin-top: 2%;
}
#form{
	text-align: center;
	margin-top: 2%;
}
.disparait{
	display: none;
}
.boutonmenu{
	display: none;
	float: right;
}
.imageheaderP{
	display: none;
}
table{
	width: 100%;
	border: solid 1px black;
}
th{
	color: red;
}
td{
	text-align: center;
	color: blue;
	vertical-align: top;
}
.commentaire{
	color: blue;
	margin-left: 70%;
}
@media screen and (max-width: 1600px) {
 aside{
	position: relative;
	left: 10%;
	width: 30%;
	padding: 1%;
	background-color: white;
	border: solid 1px black;
}
.asidegrand{
		display: none;
}
.boutonmenu{
	display: block;
	float: right;
}
}





@media screen and (max-width: 1000px) {
body{
		width: 100%;
		margin-right: 10%;
		padding: 0%;
}
section{
	width: 90%;
	margin: auto;
}
footer{
	width: 95%;
	margin: auto;
}
.imageheaderG{
	display: none;
}
.imageheaderP{
	display: block;
	width: auto;
}
}